.search-input{
    height: 21px;
    border-radius: 20%;
    margin-left: 500;
  }

  .vaiTeia{
    background-color: black; 
    border-style: none;
    color: white;
    border-radius: 30%;
    height: 22px;
    width: 60px;
    cursor: pointer;
    
  }
  .vaiTeia:active{
  opacity: 0.5;
    
  }